<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.resolutech"></context:component-scan>

    <context:property-placeholder location="classpath:app.properties"></context:property-placeholder>

    <!-- Define your beans here -->
    <bean id="cook" class="com.resolutech.app.beans.Cook">
    </bean>

    <bean id="husband" class="com.resolutech.app.beans.Husband">
        <constructor-arg ref="cook"></constructor-arg>
        <!--<constructor-arg ><null></null></constructor-arg> @Important Wow this works anyway. Spring will find 2nd arg alone-->
    </bean>

    <bean id="kid" class="com.resolutech.app.beans.Kid" init-method="creation" destroy-method="interrupt">
        <property name="skill" ref="cook"></property>
        <property name="name" value="${resolutech.name}"></property>
    </bean>

    <bean id="date" class="com.resolutech.app.beans.Date"/>
</beans>





